
/* class */
.name{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    position:absolute;
    top: 64.5%;
    text-align: center;
}
.number{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    position:absolute;
    top: 68.5%;
    text-align: center;
}
.idno{
    font-family: 'Inter', sans-serif;
    position:absolute;
    top: 75%;
    text-align: center;
}
@media print {

    .no-print{
            display : none !important;
             }
           }
           
           
           
